body {
  background: #fafafa;
}

.insta-post {
  padding-bottom: 15px;
  background: red;
  border: 5px solid red;
}
.post-meta {
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;
}
